{extends layout.latte}

{block title}Persons list{/block}

{block body}

<div class="container">
	<a class="btn btn-success" href="{link newPerson}">
		Add new person
	</a>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<table class="table table-stripped table-hover">
				<tr>
					<th>First name</th>
					<th>Last name</th>
					<th>Height</th>
					<th>Gender</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>

				{foreach $osoby as $o} 
					<tr>
						<td>{$o['first_name']}</td>
						<td>{$o['last_name']}</td>
						<td>{$o['height']}</td>
						<td>{$o['gender']}</td>
						<!-- Edit button -->
			            <td>
			                <a href="{link persons_update}?id_person={$o['id_person']}">
			                    <button class="btn-sm btn-primary">
			                        <span class="fa fa-edit"></span>
			                    </button>
			                </a>
			            </td>

			            <td>
							<form method="post" onsubmit="return confirm('Are you sure?')" action="{link person_delete}?id_person={$o['id_person']}">
								<button class="btn-sm btn-danger">
									<span class="fa fa-trash"></span>
								</button>
							</form>	            	
			            </td>
					</tr>
				{/foreach}
			</table>
		</div>

		<div class="col-md-4">
			<table class="table table-stripped">
				<tr>
					<th>Total count</th>
					<td> </td>
				</tr>	
				<tr>
					<th>Next meeting</th>
					<td></td>
				</tr>
			</table>
		</div>	

	</div>
</div>
{/block}